@import "../global-styles/global.styles";

.main-block-chats{
  width: 100%;
  max-width: 1920px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  position: relative;
  @media (max-width: 600px) {
    grid-template-columns: 1fr;
  }
}

.block-button-menu-status{
  padding: 2% 0;
  z-index: 999999;
  position: absolute;
  cursor: pointer;
  @media (min-width: 600px) {
    display: none;
  }
}

.logo-block{
  padding: 0 5%;
}

.side-menu{
  height: 100vh;
  overflow-y: auto;
  background: $lightblue;
  @media (max-width: 600px) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
  }
}

.block-message{
  position: relative;
  border-radius: 10px;
  margin: 70px 0;
  padding: 10px 15px;
  word-wrap: break-word;
}

.chats{
  width: 100%;
  height: 100vh;
  padding: 3% 3% 8% 3%;
  background: #77b3d4;
  overflow-y: auto;
  li{
    list-style: none;
  }
  @media (max-width: 600px) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 25% 0;
  }
}

.block-buttons-messages{
  width: 100%;
  display: flex;
  justify-content: center;
  place-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  input{
    margin-left: 25%;
    width: 100%;
    font-size: 18px;
    border: 0;
    border-radius: 10px 0 0 10px;
    padding: 15px 5px;
    @media(max-width: 600px){
      margin-left: 0;
    }
  }
  button{
    font-weight: bolder;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s;
    font-size: 18px;
    border: 0;
    border-radius: 0 10px 10px 0;
    padding: 15px 25px;
    background-color: $black;
    color: $lightblue;
    &:hover{
      background-color: $lightblue;
      color: $black;
    }
  }
}

.messanger-other-user{
  position: relative;
  float: left;
  width: 200px;
  border-radius: 10px;
  background-color: $white;
  padding: 10px 15px;
  word-wrap: break-word;
}

.messanger-current-user{
  position: relative;
  float: right;
  width: 200px;
  border-radius: 10px;
  background-color: rgb(209 227 255);
  padding: 10px 15px;
  word-wrap: break-word;
}